<div class="nested-yielder">
  <div class="inner-yield">
    <div>Header</div>
  </div>

  <div class="inner-yield">
    <div>Content <%= card %></div>
  </div>

  <div class="inner-yield">
    <div>Footer</div>
  </div>
</div>
